body {
    background: url(../images/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h2 {
    font-family: 'Glegoo', serif;
    font-size: 45px;
    font-weight: 400;
    margin: 25px 0;
}

h3 {
    font-family: 'Glegoo', serif;
    font-size: 35px;
    font-weight: 400;
    margin: 50px 0 15px;
}

body {
    font-family: Georgia, serif;
}

p, li {
    font-size: 1.25rem;
    line-height: 1.6em;
}

p {
    margin: 10px 0;
}

a {
    color: rgb(77, 74, 145);
}

li {
    list-style: inside disc;
}

.inner {
    margin: 0 auto;
    width: 1000px;
}

.highlight {
    font-family: monospace;
}

#landing {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 500px;
}

#landing h1 {
    font-family: 'Bitter', serif;
    font-size: 90px;
    font-weight: 700;
    margin: 0 auto;
    padding: 100px 0 10px;
    width: 838px;
}

#landing h2 {
    font-family: 'Glegoo', serif;
    font-size: 45px;
    font-weight: 400;
    margin: 0 auto;
    padding: 20px 0;
    width: 924px;
}

#landing h2 a {
    color: rgb(214, 247, 250);
    text-decoration: none;
}

#introduction, main {
    background-color: rgba(255, 255, 255, 0.9);
    color: #444;
    padding: 20px;
}

#introduction {
    padding-top: 40px;
}

main {
    padding-bottom: 200px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.sidebar-list li {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
    border: 1px solid #ddd;
    background-color: #fafafa;
    margin: 8px 0;
    height: 30px;
}

.sidebar-list li div {
    display: inline-block;
    vertical-align: top;
}
